@use 'utilities';

// This method generates a linear interpolation between two sizes for 2 media breakpoints.
// Clamp limits the minimum and maximum sizes.

@function clamp($args...) {
  $minSize: false; // TODO: Get these values from args
  $maxSize: false; // TODO: Get these values from args
  $preferredValue: utilities.interpolate($args...);
  @return unquote("clamp(#{$minSize}, #{$preferredValue}, #{$maxSize})");
}
