@use 'sass:map';
@use '..' as raiponce;

html {
  font-size: 62.5%;
}

body {
  font-family: "Droid Sans", sans-serif;
  font-size: raiponce.clamp((380px: 10px, 1600px: 20px));
}

.example-10to30 {
  font-size: raiponce.clamp((768px: 10px, 1920px: 30px));
}

// In this example the ratio is 1rem = 10px
.example-10to30-rem {
  font-size: raiponce.clamp((768px: 1rem, 1920px: 3rem), 10);
}

.example-10to30-alt {
  font-size: raiponce.clamp((1000px: 10px, 1200px: 30px));
}

// Implement device detection
.detect-device-pointer {
  color: firebrick;
}

@include raiponce.use-touchscreen() {
  .detect-device-pointer {
    color: forestgreen;

    &:before {
      content: 'You are using a touchscreen! 📱'
    }

    > span {
      display: none;
    }
  }
}

@include raiponce.use-mouse() {
  .detect-device-pointer {
    color: forestgreen;

    &:before {
      content: 'You are using a mouse! 🐭'
    }

    > span {
      display: none;
    }
  }
}

// Responsive grid
.example-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

  .item {
    background: burlywood;
    height: 1rem;
  }
}

// Responsive grid with variable width
.example-grid-clamp {
  @extend .example-grid;
  $width: raiponce.clamp((380px: 100px, 1600px: 200px));
  $gap: raiponce.clamp((380px: 10px, 1920px: 40px));
  grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
  grid-gap: $gap;
}
