@use 'sass:map';
@use '..' as raiponce;

html {
  font-size: 62.5%;
}

body {
  font-family: "Droid Sans", sans-serif;
  font-size: raiponce.clamp((380px: 10px, 1600px: 20px));
}

.example-10to30 {
  font-size: raiponce.clamp((768px: 10px, 1920px: 30px));
}

// In this example the ratio is 1rem = 10px
.example-10to30-rem {
  font-size: raiponce.clamp((768px: 1rem, 1920px: 3rem), 10);
}

.example-20to40-alt {
  font-size: raiponce.clamp((1000px: 20px, 1200px: 40px));
}

// Implement device detection
.detect-device-pointer {
  color: firebrick;
}

@include raiponce.use-touchscreen() {
  .detect-device-pointer {
    color: forestgreen;

    &:before {
      content: 'You are using a touchscreen! 📱'
    }

    > span {
      display: none;
    }
  }
}

@include raiponce.use-mouse() {
  .detect-device-pointer {
    color: forestgreen;

    &:before {
      content: 'You are using a mouse! 🐭'
    }

    > span {
      display: none;
    }
  }
}
