@use 'utils';

// Calculates a scaling value between two values of two breakpoints
// Example: lerp((768px: 1.2rem, 1920px: 3rem));

// TODO: Add support for another units
@function lerp($table, $domain: 100vw, $rem-px: 10) {

  $keys: map-keys($table);
  $values: map-values($table);

  $key-1: nth($keys, 1);
  $key-2: nth($keys, 2);

  $val-1: nth($values, 1);
  $val-2: nth($values, 2);

  $minWidth: strip-unit($key-1);
  $maxWidth: strip-unit($key-2);

  $minFontSize: strip-unit($val-1) * $rem-px;
  $maxFontSize: strip-unit($val-2) * $rem-px;

  $slope: ($maxFontSize - $minFontSize) / ($maxWidth - $minWidth);
  $yAxisIntersection: -$minWidth * $slope + $minFontSize;

  @return add($slope * $domain, $yAxisIntersection / $rem-px + rem);
}
